.sisu {
  display: flex;
  gap: 50px;
}

.vasak-paneel {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.matkad {
  display: flex;
  flex-direction: column;
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.lahter {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
